* {
    padding: 0;
    margin: 0;
    background-color: hsl(0, 0%, 94%);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}
.box {
    width: 50%;
    height: 50%;
    border: 1px solid black;
    text-align: center;
}
.box, .input-container, .output-container {
    background-color: white;
}