* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: hsl(0, 0%, 94%);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    
}
.box {
    width: 50%;
    height: 70%;
    justify-content: center;
    border-radius: 30px;
    border-bottom-right-radius: 200px;
    background-color: white;
}
.input-container {
    margin: 50px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item, input {
    font-size: 15px;
    font-weight: 600;
    color: hsl(0, 1%, 44%);
}
.output-container {
    margin-left: 50px;
}
.output-item {
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
}

input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    font-size: 30px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 94%);
}

.divider {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  
  .circle {
    width: 60px;
    height: 60px;
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    border: none;
  }

  .circle:hover {
    cursor: pointer;
    background-color: hsl(259, 100%, 81%);
  }
  
  .line {
    height: 2px;
    width: 85%;
    background-color: hsl(0, 1%, 94%);
  }

  span {
    color: hsl(259, 100%, 65%);
  }
/* mobile styling */
@media screen and (max-width: 600px) {
   .box {
    width: 90%;
    height: 50%;
    border-bottom-right-radius: 150px;
   }
   .input-container {
    margin: 5px;
    margin-top: 50px;
    }

    .input-container {
        margin: 15px;
        margin-top: 50px;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .grid-item, input {
        font-size: 15px;
        font-weight: 600;
        width: 65px;
    }
    .output-item {
        font-size: 25px;
    }
    .line {
        width: 50%;
    }
}