* {
    padding: 0;
    margin: 0;
    background-color: hsl(0, 0%, 94%);
    font-family: 'Poppins', sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    
}
.box {
    width: 50%;
    height: 60%;
    justify-content: center;
    border-radius: 30px;
    border-bottom-right-radius: 200px;

}
.box, .input-container, .output-container {
    background-color: white;
}
.input-container {
    margin: 50px;
    border: 1px solid black;

}