* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: hsl(0, 0%, 94%);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    
}
.box {
    width: 50%;
    height: 70%;
    justify-content: center;
    border-radius: 30px;
    border-bottom-right-radius: 200px;
    background-color: white;
}
.input-container {
    margin: 50px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item, input {
    font-size: 15px;
    font-weight: 600;
    color: hsl(0, 1%, 44%);
}

input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    font-size: 30px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 94%);
}
/* mobile styling */
@media screen and (max-width: 600px) {
   .box {
    width: 90%;
    border-bottom-right-radius: 150px;
   }
   .input-container {
    margin: 30px;
    margin-top: 50px;
    }
}